body{
    margin:6px;
    flex-direction:column;
    -webkit-font-smoothing:anialiased;
    max-width:100%;
    font-family:"Helvetica Neue","Segoe UI",Tahoma,Arial,sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 1rem;
    font-weight: 300;
  line-height: 3.5;
}

.bg-primary{
background-color: lightgoldenrodyellow;
}

.navbar-dark-toggler{
    color:255,255,255,0.1;
}

.haeder{
    display: flex;
    justify-content: space-between;
}

.c-button.v--primary{
    background-color: #611f69;
    color:#fff;
    fill: #fff;
}

.is-offscreen{
    display: block;
    left:-100em;
    width:0;
    height:0;
    overflow: hidden;
}

:root{
    --sidebar-color:#400d40;
    --sidebar-highlight-color: #1264a3;
    --attachment-color:#1d1d1d;
    --more-count:'+1';
    --aticle-theme-primary:#4a154b;
    --aticle-theme-secondary:#fff;
}

*, ::after, ::before{
box-sizing:inherit;
}

html{
    font-size: 16px;
    color: #1d1d1d;
    -webkit-text-size-adjust:100%;
}